<app-header></app-header>
<main>
    <app-banner></app-banner>
    <app-explore-section></app-explore-section>
    <app-animation-card [data]="pictures"></app-animation-card>
    <app-details-card [data]="details"></app-details-card>
    <app-interactive-card [data]="interactiveNFTs"></app-interactive-card>
    <app-interactive-card [data]="interactiveWallets"></app-interactive-card>
    <app-interactive-card [data]="interactiveCare"></app-interactive-card>
    <app-interactive-card [data]="interactiveSecure"></app-interactive-card>
    <app-resume-card [data]="pocket"></app-resume-card>
    <app-animation-card [data]="picturesTwo"></app-animation-card>
    <app-publications></app-publications>
    <app-important-points></app-important-points>
    <app-carousel></app-carousel>
    <app-resume-card [data]="family"></app-resume-card>

</main>
<app-footer></app-footer>